<h1>Welcome to {{title}}</h1>

<hr>
<app-ngstyle-ex></app-ngstyle-ex>

<!-- <app-ngswitch-ex></app-ngswitch-ex> -->

<!-- <app-ngfor-ex></app-ngfor-ex> -->


<!-- <app-ngif-ex></app-ngif-ex> -->


<!-- <app-customcard>
    <h1>This is a card by Manjiri</h1>
</app-customcard>

<app-customcard>
    <font color="red" size="7">
        This is a card by YOU
    </font>
</app-customcard> -->

<!-- <app-child [message]="parentmessage" (newItemEvent)="assignData($event)"></app-child>
<hr>
Data from child component 
{{newItem}} -->

<!-- <app-home></app-home> -->