<h1>Welcome to {{title}}</h1>

<hr>
<h1>Pure and Impure pipe demo </h1>
<!-- <app-my-pipe-demo></app-my-pipe-demo> -->

<app-live-score-comp></app-live-score-comp>

<!-- <h1>Built in pipe </h1>
<app-pipedemo></app-pipedemo> -->


<!-- <h2>Angular Lifecycle Demo</h2>
<button (click)="toggleChild()">Toggle Child</button>
<button (click)="changeName()">Change Name</button>

<div *ngIf="showChild">
  <app-lifecycle-demo  [name]="name">
      <p #innerText>This is projected into the card!</p>
  </app-lifecycle-demo>
</div> -->


<!-- <h2>Angular Global Error Handler Demo</h2>

<button (click)="causeUndefinedPropertyError()">Trigger Null Property Error</button>
<button (click)="causeHttpError()">Trigger Simulated HTTP Error</button>
<button class="btn btn-primary" (click)="method1()">
  Check error
</button> -->

<hr>
<!-- <app-mydirective></app-mydirective> -->

<!-- <app-ngclass-ex></app-ngclass-ex> -->

<!-- <app-ngstyle-ex></app-ngstyle-ex> -->

<!-- <app-ngswitch-ex></app-ngswitch-ex> -->

<!-- <app-ngfor-ex></app-ngfor-ex> -->


<!-- <app-ngif-ex></app-ngif-ex> -->


<!-- <app-customcard>
    <h1>This is a card by Manjiri</h1>
</app-customcard>

<app-customcard>
    <font color="red" size="7">
        This is a card by YOU
    </font>
</app-customcard> -->

<!-- <app-child [message]="parentmessage" (newItemEvent)="assignData($event)"></app-child>
<hr>
Data from child component 
{{newItem}} -->

<!-- <app-home></app-home> -->